# udev rule để tự động chạy Arduino forwarder khi cắm USB
# Copy file này vào /etc/udev/rules.d/

# Arduino Uno (ATmega16U2)
SUBSYSTEM=="tty", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0043", MODE="0666", SYMLINK+="arduino_uno", RUN+="/bin/systemctl start arduino-forwarder.service"

# Arduino Uno (CH340 - Clone)
SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", MODE="0666", SYMLINK+="arduino_ch340", RUN+="/bin/systemctl start arduino-forwarder.service"

# Arduino Mega
SUBSYSTEM=="tty", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0243", MODE="0666", SYMLINK+="arduino_mega", RUN+="/bin/systemctl start arduino-forwarder.service"

# CP210x (Arduino clone)
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", MODE="0666", SYMLINK+="arduino_cp210x", RUN+="/bin/systemctl start arduino-forwarder.service"

# Generic USB Serial (fallback)
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", MODE="0666", RUN+="/bin/systemctl start arduino-forwarder.service"

