[Unit]
Description=Smart Farm Arduino Forwarder Service
After=network.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/projects/SmartFarm/SmartContract/device
ExecStart=/usr/bin/python3 /root/projects/SmartFarm/SmartContract/device/forwarder_auto.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

# Environment variables
Environment="FLASK_URL=http://173.249.48.25:8000/api/sensors"
Environment="API_KEY=MY_API_KEY"

[Install]
WantedBy=multi-user.target

